<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/c7cc309a82.js" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
</head>

<body>
    <section class="body-background">

        <div class="hero-head">
            <nav class="navbar navbar-adjust">

                <div class="navbar-brand">
                  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>

                <div class="navbar-menu" id="navMenu">
                  <div class="navbar-end">
                      <a href="{{ url_for('main.index') }}" class="navbar-item main-font-color home-select">
                          Home
                      </a>
                      {% if current_user.is_authenticated %}
                      <a href="{{ url_for('main.profile') }}" class="navbar-item main-font-color home-select">
                          Profile
                      </a>
                      {% endif %}
                      {% if not current_user.is_authenticated %}
                      <a href="{{ url_for('auth.login') }}" class="navbar-item main-font-color home-select">
                          Login
                      </a>
                      <a href="{{ url_for('auth.signup') }}" class="navbar-item main-font-color home-select">
                          Sign Up
                      </a>
                      {% endif %}
                      {% if current_user.is_authenticated %}
                      <a href="{{ url_for('auth.logout') }}" class="navbar-item main-font-color home-select">
                          Logout
                      </a>
                      {% endif %}
                  </div>
                </div>

            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
