{% extends "base.html" %}

{% block content %}
<div class="has-text-centered">
<h1 class="title">
  Your Event
</h1>
<div class="columns is-centered">
  <div class="column is-half">


    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical event-group">

            <article class="tile is-child notification is-white event-element">
              <p class="subtitle has-text-black">Occasion</p>
              <p class="title has-text-black">{{event.occasion}}</p>
            </article>

            <article class="tile is-child notification is-white event-element">
              <p class="subtitle has-text-black">Location</p>
              <p class="title has-text-black">{{event.location}}</p>
            </article>

          </div>

          <div class="tile is-parent is-vertical event-group">

            <article class="tile is-child notification is-white event-element">
              <p class="subtitle has-text-black">Date</p>
              <p class="title is-5 has-text-black">{{event.date}}</p>
            </article>

            <article class="tile is-child notification is-white event-element">
              <p class="subtitle has-text-black">Time</p>
              <p class="title is-5 has-text-black">{{event.time}}</p>
            </article>

          </div>

        </div>
        <div class="tile is-parent event-group">
          <article class="tile is-child notification is-white event-element">
            <h5 class="title is-5 has-text-black">Your message</h5>
            <article class="message">
              <div class="message-header">
                <p>{{event.subject}}</p>
              </div>
              <div class="message-body">
                {{event.message}}
              </div>
            </article>
          </article>
        </div>
      </div>
      <div class="tile is-parent event-group">
        <article class="tile is-child notification is-white event-element">
          <div class="content">
            <p class="title has-text-black">Guests</p>
            <p class="subtitle has-text-black">List yours guests here</p>
            <div class="content">
              <!-- Content -->
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="field is-vertical">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <form action="{{ url_for('main.event_confirmation') }}" method="post">
              <button class="button is-info">
                Confirm and create event
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
