{% extends "base.html" %}

{% block content %}
<div class="columns" id="question-container">

    <form method="POST" action="/event_overview">

      <div class="box" id="question-box">

        <!-- Name -->
        <div id="name">
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label question-field">What is your name?</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="occasion" placeholder="Type in your name">
                </p>
              </div>
            </div>
          </div>
          <div class="field is-vertical">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <a class="button next-button" href="#occasion">
                    Next
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Occasion -->
        <div id="occasion">
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label question-field">What is the occasion?</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="occasion" placeholder="Type your occasion here">
                </p>
              </div>
            </div>
          </div>
          <div class="field is-vertical">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <a class="button next-button" href="#date">
                    Next
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Date -->
        <div id="date">
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label question-field">When is the event?</label>
            </div>

            <div class="field-body" id="date-field">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="date" placeholder="Date">
                </p>
              </div>
            </div>

            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="time" placeholder="Time">
                </p>
              </div>
            </div>

          </div>
          <div class="field is-vertical">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <a class="button next-button" href="#location">
                    Next
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Location -->
        <div id="location">
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label question-field">Where is the event?</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="location" placeholder="Type your location here">
                </p>
              </div>
            </div>
          </div>
          <div class="field is-vertical">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <a class="button next-button" href="#message">
                    Next
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Message to guests -->
        <div id="message">
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label question-field">What is your message?</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded">
                  <input class="input question-input" type="text" name="message" placeholder="Type your message here">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-vertical">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                    <button class="button next-button">
                        Create Event
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
</div>
{% endblock %}
