{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Your Invite
</h1>
<div class="columns is-centered">
    <div class="column is-half">

        <div class="box">
            <h5 class="title is-5 has-text-black">Event details</h5>
            <div class="content">
            <table>
                <tbody>
                    <tr>
                        <td>Occasion</td>
                        <td><b>{{event.occasion}}</b></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><b>{{event.location}}</b></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><b>{{event.date}}</b></td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td><b>{{event.time}}</b></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <div class="box">
            <h5 class="title is-5 has-text-black">Your message</h5>
            <article class="message">
                <div class="message-header">
                    <p>{{event.subject}}</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{event.message}}
                </div>
            </article>
        </div>

        <div class="box">
            <h5 class="title is-5 has-text-black">Your guests</h5>
            <div class="content">
            <table class="table is-centered">
                <thead>
                    <tr>
                        <th>Name</th>
                         <th><abbr title="Email">Email</abbr></th>
                        <th><abbr title="Phone">Phone</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>38</td>
                        <td>23</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
