{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">

        <form method="POST" action="/event_overview">
            <div class="box">
                <h3 class="title is-4 has-text-black	">
                    Event Details
                </h3>

                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Occasion</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="occasion" placeholder="What's the happy occasion?">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Location</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" name="location" placeholder="Where is your event taking place?">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Date</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="date" name="date" placeholder="What's the date?">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Time</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="time" name="time" placeholder="What time does it start?">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <h3 class="title is-4 has-text-black	">
                    Guestlist
                </h3>
                {% for n in range(3) %}
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input is-success" type="email" placeholder="Email" value="">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <div class="field has-addons">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <a class="button is-static">+44</a>
                                </p>
                                <p class="control is-expanded">
                                    <input class="input" type="tel" placeholder="Your phone number">
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="box">
                <h3 class="title is-4 has-text-black">
                    Message
                </h3>
                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Subject</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="subject" placeholder="e.g. Partnership opportunity">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Question</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="message" placeholder="Explain how we can help you"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                <div class="field is-vertical">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info">
                                    Create Event
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            
        </form>
    </div>
</div>
{% endblock %}
