{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half">

    <form method="POST" action="/update_event">
      <input type = "hidden" name = "subject" value = "{{ event.subject }}" />

      <div class="box">
        <h3 class="title is-4 has-text-black">
          Event Details
        </h3>

        <!-- Occasion -->
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label">Occasion</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="occasion" value = "{{event.occasion}}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

        <!-- Location -->
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label">Location</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="location" value = "{{event.location}}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

        <!-- Date -->
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label">Date</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="date" name="date" value = "{{event.date}}">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>


        <!-- Message to guests -->
          <div class="field is-vertical">
            <div class="field-label is-normal">
              <label class="label">Message</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" name="message" value = "{{event.message}}"></textarea>
                </div>
              </div>
            </div>
          </div>

        <div class="field">
          <div class="control">
            <button class="button is-info">
              Create Event
            </button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
