{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title" id="login-field">Login</h3>
    <div class="box" id="login-box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" id="login-button">Login</button>
            <div class="field">
                <p class="mt-3">
                No Account yet?
                </p>
            </div>
            <a href="/signup" class="button is-info is-large is-fullwidth" id="login-button"> Sign up  </a>
        </form>
    </div>
</div>
{% endblock %}
